.container {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 10px 25px 10px 10px;
}

.even {
  background-color: var(--song-background-even);
}

.coverArt {
  height: 70px;
  width: 90px;
  object-fit: contain;
}

.songInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 30px;
}

.title,
.artist {
  font-size: 16px;
  margin: 0;
}

.title {
  font-weight: 600;
  margin-bottom: 10px;
}
.artist {
  font-weight: 300;
}
