.container {
  display: flex;
  align-items: center;
  height: 90px;
  padding: 10px 25px 10px 10px;
}

.even {
  background-color: var(--song-background-even);
}

.coverArt {
  height: 70px;
  width: 90px;
  object-fit: contain;
}

.songInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 30px;
}

.title,
.artist {
  font-size: 16px;
  margin: 0;
  max-width: 100%;
}

.title {
  font-weight: 600;
  margin-bottom: 10px;
}
.artist {
  font-weight: 300;
}

.songLevelAndAction {
  display: flex;
  align-items: center;
}

.songLevel {
  padding-right: 35px;
}

@media (max-width: 860px) {
  .container {
    padding: 10px 20px 10px 0;
  }
  .songLevel {
    padding-right: 20px;
  }
}

@media (max-width: 500px) {
  .songInfo {
    padding-left: 15px;
  }

  .title {
    margin-bottom: 5px;
  }
  .title,
  .artist {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 170px;
  }
  .songLevel {
    padding-right: 5px;
  }
}
@media (max-width: 420px) {
  .title,
  .artist {
    width: 125px;
  }
}
@media (max-width: 360px) {
  .coverArt {
    width: 70px;
  }
  .title,
  .artist {
    width: 100px;
  }
}
