.container {
  min-height: 100vh;
}

.header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 400px;
  background-image: url('/yousician-hero.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.title {
  margin: 0;
  font-weight: 800;
  font-size: 42px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.subtitle {
  font-weight: 300;
  font-size: 18px;
}

.searchContainer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 730px;
  position: relative;
  padding: 0 30px;
  border-radius: 30px;
  background-color: #ffff;
}
.searchInput {
  height: 55px;
  flex: 1;
  border: none;
  font-size: 18px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 300;
}
.searchIcon {
  height: 18px;
  width: 18px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1024px 1fr;
}

.filterContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: 2 / span 1;
  padding: 10px;
}
.filterLabel {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  padding-right: 20px;
}
.selectedFilters {
  height: 40px;
  width: 100px;
  border: 2px solid #ffff;
  border-radius: 20px;
  color: #fff;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
